In [1]:
from pyspark.sql.types import *
import dapla as dp

In [6]:
# Definerer struktur for et testdatasett (dataframe)
struktur_person_type = StructType([StructField('fnr', StringType(), True),\
                   StructField('kjonn', StringType(), True),\
                   StructField('bruttoinntekt', IntegerType(), True),\
                   StructField('bruttoformue', IntegerType(), True)])

In [3]:
# Lager noen testdata
test_data_person = [('01017011111','1',10000,0),
                    ('31128022222','2',20000,30000)]

In [7]:
# Lager et datasett (dataframe) av struktur og testdata
df_person = spark.createDataFrame(test_data_person, struktur_person_type)
df_person.show()

+-----------+-----+-------------+------------+
|        fnr|kjonn|bruttoinntekt|bruttoformue|
+-----------+-----+-------------+------------+
|01017011111|    1|        10000|           0|
|31128022222|    2|        20000|       30000|
+-----------+-----+-------------+------------+

In [13]:
# Dokumenterer datasettet (df_person) i en egen JSON-fil kalt df_person.json
%document -f df_person.json df_person

HTML(value='<b>Dataset metadata</b>')

Box(children=(Box(children=(Label(value='Name'), Text(value='')), layout=Layout(display='flex', flex_flow='row…

HTML(value='<b>Instance variables</b>')

Accordion(children=(Box(children=(Box(children=(Label(value='Description'), Textarea(value='fnr')), layout=Lay…

Button(description='Save to file', icon='file-code', style=ButtonStyle())

Output()

In [10]:
spark.read.path('/felles/hack4ssb/*').show(100,False)

+------------------------------------------+
|path                                      |
+------------------------------------------+
|/felles/hack4ssb/microdapla/kontoinnehaver|
+------------------------------------------+

In [11]:
dp.details('/felles/ohv/metadata_test/kontoinnehaver')

    Size                                               Name
0      0
1  22599                                  .dataset-doc.json
2    187                                 .dataset-meta.json
3    256                            .dataset-meta.json.sign
4      0                                            SUCCESS
5   1115  part-00000-1d3a6fad-cf4d-4f23-a448-e3792e7a652...